.html, body {
    font-family: "DM Sans", sans-serif;
}

.custom-text {
    color: #4318ff;
}

.upload-box {
    border: 0.1rem dashed;
    border-color: rgb(178, 186, 208);
    border-radius: 0.5rem;
    background-color: #eef0f1;
}

.form-control:focus {
    border-color: rgb(43, 54, 116);
    border-width: 2px;
    box-shadow: none;
}

.save-button {
    background-color: #4318ff;
    color: #fff;
    font-weight: bold;
}
.save-button:focus {
    background-color: #4318ff;
    color: #fff;
}
.save-button:hover {
    background-color: #3306fb;
    color: #fff;
}


.cancel-button {
    background-color: rgb(220, 220, 220);
    color: rgb(43, 54, 116);
    font-weight: bold;
}

.cancel-button:focus {
    background-color: rgb(220, 220, 220);
    color: rgb(43, 54, 116);
}
.cancel-button:hover {
    background-color: rgb(181, 181, 181);
    color: rgb(43, 54, 116);
}

a{
    color: #4318ff;
}
a:hover {
    cursor: pointer;
    color: #0d6efd;
}